@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1>Usuarios</h1>
    <p class="lead">Acá Podran encontrar el grid de usuarios y sus respectivas opciones.</p>
    <p><a href="https://localhost:44315/Usuarios" class="btn btn-primary btn-lg">Ver &raquo;</a></p>
</div>
